@font-face {
    font-family: 'TTLakes-Medium';
    src: url('access/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('access/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('access/fonts/TTLakes-Medium.woff') format('woff'),
        url('access/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes-Bold';
    src: url('access/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('access/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('access/fonts/TTLakes-Bold.woff') format('woff'),
        url('access/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes-Regular';
    src: url('access/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('access/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('access/fonts/TTLakes-Regular.woff') format('woff'),
        url('access/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}